
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Siumapalak</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

    {% block css %}{% endblock %}

    <!-- Custom fonts for this template-->
    <link href="{% static 'dppu/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'dppu/css/sb-admin-2.min.css'%}" rel="stylesheet">
    <link href="{% static 'dppu/css/battrey.css'%}" rel="stylesheet">
    <link href="{% static 'dppu/css/togle.css'%}" rel="stylesheet">
    <link href="{% static 'dppu/vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">


    <!-- DateTimePicker JS -->
    

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include './sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Topbar -->
            {% include './header.html' %}
            <!-- End of Topbar -->
            <!-- Main Content -->
            <div id="content" style="max-height: 90vh; overflow-y: scroll;">


                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% block content %}{% endblock  %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Uma Palak Lestari 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'dppu/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'dppu/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'dppu/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'dppu/js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'dppu/vendor/chart.js/Chart.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'dppu/js/demo/chart-area-demo.js'%}"></script>
    <script src="{% static 'dppu/js/demo/chart-pie-demo.js'%}"></script>

    <script src="{% static 'dppu/vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'dppu/vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>
    <script src="{% static 'dppu/js/raphael.min.js' %}"></script>
    <script src="{% static 'dppu/js/justgage.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'dppu/js/demo/datatables-demo.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script>
        const brokerUrl = 'ws://mqtt.ruanglab.com:8083/mqtt'; // Replace with your broker's URL
        const options = {
            username: 'ruanglab',
            password: 'ruanglab@yk'
        };
    
        const client = mqtt.connect(brokerUrl, options);
        var LM1 = 'data/KMI/BALI/SIMORLM1';
        var LM2 = 'data/KMI/BALI/SIMORLM2';
        var LM3 = 'data/KMI/BALI/SIMORLM3';
        var LORAMASTER2 = 'LORAMASTER2/output'
        var LORAMASTER3 = 'LORAMASTER3/output'
        var POMPA_AUTO = 'pumpauto'
        var STATUS_POMPA_AUTO = 'Status_Auto_Pompa'
        //client.publish(topicLampu, '1', { qos: 0, retain: false })
    
        client.on('error', (err) => {
            console.log('Connection error: ', err);
            client.end();
        });
    
        client.on('reconnect', () => {
            console.log('Reconnecting...');
        });
    
        client.on('connect', () => {
            console.log('Client connected');
            client.subscribe(LM1, { qos: 2 })
            client.subscribe(LM2, { qos: 2 })
            client.subscribe(LM3, { qos: 2 })
            client.subscribe(STATUS_POMPA_AUTO, { qos: 0 })
        });
    </script>

    {% if messages %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% for message in messages %}
                    swal.fire('{{ message.tags }}', '{{ message }}', '{{ message.tags }}');
                {% endfor %}
            });
        </script>
    {% endif %}
    {% block js %} {% endblock  %}
    {% comment %} <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        });
    </script> {% endcomment %}
</body>

</html>