{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-text">Siumapalak</div>
    </a>
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Divider -->
    
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-map"></i>
            <span>Peta Sawah</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'performance' %}">
            <i class="fas fa-fw fa-info"></i>
            <span>Performance</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'trending' %}">
            <i class="fas fa-fw fa-poll"></i>
            <span>Trending</span></a>
    </li>
    
    <hr class="sidebar-divider">


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="{% static 'img/logo_pertamina.png' %}" width="175" alt="...">
        <img class="sidebar-card-illustration mb-2" src="{% static 'img/uma_logo.png' %}" width="175" alt="...">
        
    </div>

</ul>