{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Peta Sawah</h1>
  </div>

  <!-- Content Row -->
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <!-- Card Body -->
    <div class="card-body">
      <div class="table-responsive">
        <div style="position: relative;">
          <img src="{% static 'img/peta_sawah.jpg' %}" alt="background Image" style="height: 410px; width: 900px;">
      
          <!--    <img src="https://drive.google.com/uc?id=1pM8hKATNW427_so7WJLo7rHTXtpN0Ghc" alt="Logo" style="position: absolute; top: 1px; left: 780px; width: 200px; height: 100px; z-index: 1;"> -->
      
          <!-- Sensor 1 -->
          <div id="circle1"
              style="position: absolute; top: 70px; left: 669px; width: 10px; height: 10px; border-radius: 50%; cursor: pointer;"
              data-payload="" onmouseover="showData('Sensor 1')" onmouseout="hideData()">
                <img src="/static/img/sensor.gif" id="img_sensor1" class="w-70" alt="Icon soilmoisture" style=" height: auto; width: 30px">
              <p class="badge bg-warning" id="Z01">Z01</p>
            </div>
      
          <!-- sensor 2 -->
          <div id="circle2"
              style="position: absolute; top:60px; left: 710px; width: 10px; height: 10px; border-radius: 50%; cursor: pointer;"
              data-payload="" onmouseover="showData('Sensor 2')" onmouseout="hideData()">
              <img src="/static/img/sensor.gif" id="img_sensor2" class="w-70" alt="Icon soilmoisture" style=" height: auto; width: 30px">
              <p class="badge bg-warning" id="Z02">Z02</p>
            </div>
      
          <!-- Sensor 3 -->
          <div id="circle3"
              style="position: absolute; top: 104px; left: 700px; width: 10px; height: 10px; border-radius: 50%; cursor: pointer; z-index: 1;"
              data-payload="" onmouseover="showData('Sensor 3')" onmouseout="hideData()">
              <img src="/static/img/sensor.gif" id="img_sensor3" class="w-70" alt="Icon soilmoisture" style=" height: auto; width: 30px">
              <p class="badge bg-warning" id="Z03">Z03</p>
            </div>
      
          <!-- Sensor 4 -->
          <div id="circle4"
              style="position: absolute; top: 152px; left: 784px; width: 10px; height: 10px; border-radius: 50%; cursor: pointer;"
              data-payload="" onmouseover="showData('Sensor 4')" onmouseout="hideData()">
              <img src="/static/img/sensor.gif" id="img_sensor4" class="w-70" alt="Icon soilmoisture" style=" height: auto; width: 30px">
              <p class="badge bg-warning" id="Z04">Z04</p>
            </div>
      
          <!-- Pump1 -->
          <div id="square1"
              style="position: absolute; top: 11px; left: 654px; width: 10px; height: 10px;  cursor: pointer; text-align: center; line-height: 20px;"
              data-payload="{{msg.payload2}}" onmouseover="showSquareData('Square 1')"
              onmouseout="hideSquareData('Square 1')">
              <img src="/static/img/p1.png" id="img_pompa1" class="w-70" alt="Icon soilmoisture" style=" height: auto; width: 36px;">
              <p class="badge bg-warning" id="p01">P01</p>
            </div>
      
          <!-- Pump2 -->
          <div id="square2"
              style="position: absolute; top: 42px; left: 735px; width: 10px; height: 10px; cursor: pointer; text-align: center; line-height: 20px; z-index: 1;"
              data-payload="{{msg.payload3}}" onmouseover="showSquareData('Square 2')"
              onmouseout="hideSquareData('Square 2')">
              <img src="/static/img/p2.png" id="img_pompa2" class="w-70" alt="Icon soilmoisture" style=" height: auto; width: 36px;">
              <p class="badge bg-warning" id="p02">P02</p>
          </div>

          <!-- Pump3 -->
          <div id="square3"
              style="position: absolute; top: 102px; left: 794px; width: 10px; height: 10px; cursor: pointer; text-align: center; line-height: 20px;"
              data-payload="{{msg.payload1}}" onmouseover="showdoorData('door')" onmouseout="hidedoorData('door')">
              <img src="/static/img/p1.png" id="img_pompa3" class="w-70" alt="Icon soilmoisture" style=" height: auto; width: 36px;">
              <p class="badge bg-warning" id="p03">P03</p>
            </div>
      
          <!-- Pump4 -->
          <div id="square4"
              style="position: absolute; top: 206px; left: 650px; width: 10px; height: 10px; cursor: pointer; text-align: center; line-height: 20px;"
              data-payload="{{msg.payload4}}" onmouseover="showSquareData('Square 3')"
              onmouseout="hideSquareData('Square 3')">
              <img src="/static/img/pompa_off.png" id="img_pompa4" class="w-70" alt="Icon soilmoisture" style=" height: auto; width: 25px;">
              <p class="badge bg-warning" id="p04">P04</p>
          </div>

          <!-- Pipa1 -->
          <div id="pipa1"
              style="position: absolute; top: 30px; left: 607px; cursor: pointer; text-align: center; line-height: 20px;"
              data-payload="" onmouseover=""
              onmouseout="">
              <img src="/static/img/pipa1.png" id="img_pipa1" class="w-70" alt="Icon pipa" style=" height: auto; width: 51px;">
            </div> 

            <!-- Pipa2 -->
          <div id="pipa2"
            style="position: absolute; top: 58px; left: 762px; cursor: pointer; text-align: center; line-height: 20px;"
            data-payload="" onmouseover=""
            onmouseout="">
            <img src="/static/img/pipa2.png" id="img_pipa2" class="w-70" alt="Icon pipa" style=" height: auto; width: 40px; z-index: 0;">
        </div> 

         <!-- Pipa3 -->
         <div id="pipa3"
            style="position: absolute; top: 95px; left: 694px; cursor: pointer; text-align: center; line-height: 20px; z-index: 0;"
            data-payload="" onmouseover=""
            onmouseout="">
            <img src="/static/img/pipa3.png" id="img_pipa3" class="w-70" alt="Icon pipa" style=" height: auto; width: 112px;">
        </div> 

            <!-- Pipa4 -->
          <div id="pipa4"
            style="position: absolute; top: 174px; left: 652px; cursor: pointer; text-align: center; line-height: 20px;"
            data-payload="" onmouseover=""
            onmouseout="">
            <img src="/static/img/pipa4.png" id="img_pipa4" class="w-70" alt="Icon pipa" style=" height: auto; width: 51px;">
        </div> 
      
      </div>
      
      <div id="tooltip"
          style="display: none; position: absolute; background-color: #fff; padding: 5px; border: 1px solid #ccc;"></div>
      
      </div>
    </div>
  </div>

{% endblock %}
{% block js %}

<script>
  client.on('message', (topic, message, packet) => {
    const jsonData = JSON.parse(message.toString())

    var pompa1 = document.getElementById("square1");
    var pompa2 = document.getElementById("square2");
    var pompa3 = document.getElementById("square3");
    var pompa4 = document.getElementById("square4");
    
    var soil1 = document.getElementById("circle1");
    var soil2 = document.getElementById("circle2");
    var soil3 = document.getElementById("circle3");
    var soil4 = document.getElementById("circle4");

    // zone
    if (typeof jsonData.MOIS1 !== 'undefined' && jsonData.MOIS1 > 25) {
      soil1.setAttribute('data-payload', "Lembab")
      img_sensor1.src = '/static/img/sensor_on.png'
    } else if (typeof jsonData.MOIS1 !== 'undefined' && jsonData.MOIS1 < 25) {
      soil1.setAttribute('data-payload', "Kering")
      img_sensor1.src = '/static/img/sensor.gif'
    }

    if (typeof jsonData.MOIS2 !== 'undefined' && jsonData.MOIS2 > 25) {
      soil2.setAttribute('data-payload', "Lembab")
      img_sensor2.src = '/static/img/sensor_on.png'
    } else if (typeof jsonData.MOIS2 !== 'undefined' && jsonData.MOIS2 < 25) {
      soil2.setAttribute('data-payload', "Kering")
      img_sensor2.src = '/static/img/sensor.gif'
    }

    if (typeof jsonData.MOIS3 !== 'undefined' && jsonData.MOIS3 > 25) {
      soil3.setAttribute('data-payload', "Lembab")
      img_sensor3.src = '/static/img/sensor_on.png'
    } else if (typeof jsonData.MOIS3 !== 'undefined' && jsonData.MOIS3 < 25) {
      soil3.setAttribute('data-payload', "Kering")
      img_sensor3.src = '/static/img/sensor.gif'
    }

    if (typeof jsonData.MOIS4 !== 'undefined' && jsonData.MOIS4 > 25) {
      soil4.setAttribute('data-payload', "Lembab")
      img_sensor4.src = '/static/img/sensor_on.png'
    } else if (typeof jsonData.MOIS4 !== 'undefined' && jsonData.MOIS4 < 25) {
      soil4.setAttribute('data-payload', "Kering")
      img_sensor4.src = '/static/img/sensor.gif'
    }
    

    if (typeof jsonData.POMPA3 !== 'undefined' && jsonData.POMPA3 == 1) {
      img_pompa1.src = '/static/img/p1_on.png'
      pompa1.setAttribute("data-payload", 'Pompa 1 ON');
      img_pipa1.src = '/static/img/pipa1.gif'
    } else if (typeof jsonData.POMPA3 !== 'undefined' && jsonData.POMPA3 == 0) {
      img_pompa1.src = '/static/img/p1.png'
      img_pipa1.src = '/static/img/pipa1.png'
    }

    if (typeof jsonData.POMPA2 !== 'undefined' && jsonData.POMPA2 == 1) {
      pompa2.setAttribute("data-payload", 'Pompa 2 ON');
      img_pompa2.src = '/static/img/p2_on.png'
      img_pipa2.src = '/static/img/pipa2.gif'
    } else if (typeof jsonData.POMPA2 !== 'undefined' && jsonData.POMPA2 == 0) {
      img_pompa2.src = '/static/img/p2.png'
      img_pipa2.src = '/static/img/pipa2.png'
    }

    if (typeof jsonData.POMPA1 !== 'undefined' && jsonData.POMPA1 == 1) {
      pompa3.setAttribute("data-payload", 'Pompa 3 ON');
      img_pompa3.src = '/static/img/p1_on.png'
      img_pipa3.src = '/static/img/pipa3.gif'
    } else if (typeof jsonData.POMPA1 !== 'undefined' && jsonData.POMPA1 == 0) {
      img_pompa3.src = '/static/img/p1.png'
      img_pipa3.src = '/static/img/pipa3.png'
    }

    if (typeof jsonData.POMPA4 !== 'undefined' && jsonData.POMPA4 == 1) {
      pompa4.setAttribute("data-payload", 'Pompa 4 ON');
      img_pompa4.src = '/static/img/pompa_on.png'
      img_pipa4.src = '/static/img/pipa4.gif'
    } else if (typeof jsonData.POMPA4 == 'undefined' && jsonData.POMPA4 == 0) {
      img_pompa4.src = '/static/img/pompa_off.png'
      img_pipa4.src = '/static/img/pipa4.png'
    }

  })
</script>
  
  <script>
    const circles = document.querySelectorAll('[id^="circle"]');
    const squares = document.querySelectorAll('[id^="square"]');
    const doors = document.querySelectorAll('[id^="door"]');
    const tooltip = document.getElementById('tooltip');

    circles.forEach(circle => {
        circle.style.backgroundColor = '';
        circle.addEventListener('mouseover', () => showData(circle));
        circle.addEventListener('mouseout', hideData);
    });

    squares.forEach(square => {
        square.style.backgroundColor = 'black'; 
        square.addEventListener('mouseover', () => showSquareData(square));
        square.addEventListener('mouseout', () => hideSquareData(square.id));
    });

    doors.forEach(door => {
        door.style.backgroundColor = 'purple';
        door.addEventListener('mouseover', () => showdoorData(door)); 
        door.addEventListener('mouseout', hidedoorData);
    });
{% comment %} 
    function updateCircleColor(circle) {
        
        const payloadValue = circle.getAttribute('data-payload');
        const intValue = parseInt(payloadValue); 

        if (intValue > 90) {
            circle.style.backgroundColor = 'blue';
        } else {
            circle.style.backgroundColor = 'red';
        }
    } {% endcomment %}

    function updateSquareColor(square) {

        const payloadValue = square.getAttribute('data-payload');
        
        if (payloadValue === 'ON') {
            square.style.backgroundColor = '';
        } else {
            square.style.backgroundColor = '';
        }
    }

    function updatedoorColor(door) {
    
        const payloadValue = door.getAttribute('data-payload');
    
        if (payloadValue === 'OPEN') {
            door.style.backgroundColor = 'green';
        } else {
            door.style.backgroundColor = 'pink';
        }
    }

    setInterval(() => {
        //circles.forEach(circle => updateCircleColor(circle));
        squares.forEach(square => updateSquareColor(square));
        doors.forEach(door => updatedoorColor(door));
    }, 1000); // 1000 milliseconds = 1 second

    function showData(circle) {
        const payloadValue = circle.getAttribute('data-payload');
        console.log(payloadValue)
        //const intValue = parseInt(payloadValue);
        tooltip.innerHTML = `<strong class="tooltip-detail-sensor">Sensor</strong>: ${payloadValue}`;
        tooltip.style.top = (event.clientY - 110) + 'px';
        tooltip.style.left = (event.clientX - 250) + 'px';
        tooltip.style.display = 'block';
    }

    function hideData() {
        tooltip.style.display = 'none';
    }

    function showSquareData(square) {
        const payloadValue = square.getAttribute('data-payload');
        console.log(payloadValue)
        tooltip.innerHTML = `<strong class="tooltip-detail-pompa">Status </strong>: ${payloadValue}`;
        tooltip.style.top = (event.clientY - 110) + 'px';
        tooltip.style.left = (event.clientX - 250) + 'px';
        tooltip.style.display = 'block';
    }

    function hideSquareData(squareId) {
        tooltip.style.display = 'none';
    }

    function showdoorData(door) {
        const payloadValue = door.getAttribute('data-payload');
        tooltip.innerHTML = `<strong>Situation</strong>: ${payloadValue}`;
        tooltip.style.top = (event.clientY + 10) + 'px';
        tooltip.style.left = (event.clientX + 10) + 'px';
        tooltip.style.display = 'block';
    }
    
    function hidedoorData(doorId) {
      tooltip.style.display = 'none';
    }

</script>

{% endblock %}
