{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>


    <!-- Content Row -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Peta Sawah</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="table-responsive">
                <div style="position: relative;">
                    <img src="https://drive.google.com/uc?id=1RtlBkKmWaiGf38IjmzSFa4QhuezKs8q2" alt="background Image" style="height: 410px; width: 900px;">
                    <!-- Sensor 1 -->
                    <div id="circle1"
                        style="position: absolute; top: 137px; left: 650px; width: 10px; height: 10px; background-color: orange; border-radius: 50%; cursor: pointer;"
                        data-payload="{{msg.payload5}}" onmouseover="showData('Sensor 1')" onmouseout="hideData()"></div>
                
                    <!-- sensor 2 -->
                    <div id="circle2"
                        style="position: absolute; top: 130px; left: 670px; width: 10px; height: 10px; background-color: orange; border-radius: 50%; cursor: pointer;"
                        data-payload="{{msg.payload6}}" onmouseover="showData('Sensor 2')" onmouseout="hideData()"></div>
                
                    <!-- Sensor 3 -->
                    <div id="circle3"
                        style="position: absolute; top: 146px; left: 700px; width: 10px; height: 10px; background-color: orange; border-radius: 50%; cursor: pointer;"
                        data-payload="{{msg.payload7}}" onmouseover="showData('Sensor 3')" onmouseout="hideData()"></div>
                
                    <!-- Sensor 4 -->
                    <div id="circle4"
                        style="position: absolute; top: 140px; left: 730px; width: 10px; height: 10px; background-color: orange; border-radius: 50%; cursor: pointer;"
                        data-payload="{{msg.payload8}}" onmouseover="showData('Sensor 4')" onmouseout="hideData()"></div>
                
                    <!-- Pump1 -->
                    <div id="square1"
                        style="position: absolute; top: 30px; left: 650px; width: 10px; height: 10px; background-color: orange; cursor: pointer; text-align: center; line-height: 20px;"
                        data-payload="{{msg.payload2}}" onmouseover="showSquareData('Square 1')"
                        onmouseout="hideSquareData('Square 1')"></div>
                
                    <!-- Pump2 -->
                    <div id="square2"
                        style="position: absolute; top: 60px; left: 720px; width: 10px; height: 10px; background-color: orange; cursor: pointer; text-align: center; line-height: 20px;"
                        data-payload="{{msg.payload3}}" onmouseover="showSquareData('Square 2')"
                        onmouseout="hideSquareData('Square 2')">
                    </div>
                
                    <!-- Pump3 -->
                    <div id="square3"
                        style="position: absolute; top: 245px; left: 560px; width: 10px; height: 10px; background-color: orange; cursor: pointer; text-align: center; line-height: 20px;"
                        data-payload="{{msg.payload4}}" onmouseover="showSquareData('Square 3')" onmouseout="hideSquareData('Square 3')">
                    </div>
                
                    <!-- Door -->
                    <div id="door"
                        style="position: absolute; top: 120px; left: 750px; width: 10px; height: 10px; background-color: orange; cursor: pointer; text-align: center; line-height: 20px;"
                        data-payload="{{msg.payload1}}" onmouseover="showdoorData('door')" onmouseout="hidedoorData('door')">
                    </div>
                </div>
                <div id="tooltip" style="display: none; position: absolute; background-color: #fff; padding: 5px; border: 1px solid #ccc;"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Area Chart -->
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Data</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <ul class="list-group">
                        <div class="row">
                            <div class="col-md-6">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    V AC
                                    <span id="vac" class="badge badge-primary badge-pill">0</span>
                                  </li>
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    I AC
                                    <span id="iac" class="badge badge-primary badge-pill">0</span>
                                  </li>
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    P AC
                                    <span id="pac" class="badge badge-primary badge-pill">0</span>
                                  </li>
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    E AC
                                    <span id="eac" class="badge badge-primary badge-pill">0</span>
                                  </li>
                            </div>
                            <div class="col-md-6">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    V DC
                                    <span id="vdc" class="badge badge-primary badge-pill">0</span>
                                  </li>
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    I DC
                                    <span id="idc" class="badge badge-primary badge-pill">0</span>
                                  </li><li class="list-group-item d-flex justify-content-between align-items-center">
                                    P DC
                                    <span id="pdc" class="badge badge-primary badge-pill">0</span>
                                  </li>
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    E DC
                                    <span id="edc" class="badge badge-primary badge-pill">0</span>
                                  </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>

        <div class="card-body">
            <div class="row">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-md-6">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Rpm Generator</div>
                                    <div id="rpm_generator" class="gauge"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-md-6">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Battery Level</div>
                                     <div id="battery">
                                        <div id="charge"></div>
                                        <div id="charge-level"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Control</h6>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4">
                        <label class="" for="toggleSwitch">Pompa 1</label>
                        <input type="checkbox"  data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>
                
                    <div class="col-md-4">
                        <label class="" for="toggleSwitch">Pompa 2</label>
                        <input type="checkbox"  data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>
                
                    <div class="col-md-4">
                        <label class="" for="toggleSwitch">Pompa 3</label>
                        <input type="checkbox"  data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>    
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <label class="" for="toggleSwitch">Gate</label>
                        <input type="checkbox"  data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>
                    <div class="col-md-6">
                        <label class="" for="toggleSwitch">Carging</label>
                        <input type="checkbox"  data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Zone</h6>
        </div>

        <div class="card-body">
            <div class="row">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Zone 1</div>
                                    <div id="zone1" class="gauge"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Zone 2</div>
                                    <div id="zone2" class="gauge"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Zone 3
                                    </div>
                                    <div id="zone3" class="gauge"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Zone 4</div>
                                        <div id="zone4" class="gauge"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Temperatur</h6>
        </div>

        <div class="card-body">
            <div class="row">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-md-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Generator</div>
                                    <div id="temp_generator" class="gauge"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-md-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Batrey 1</div>
                                    <div id="temp_bat_1" class="gauge"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-md-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Battrey 2
                                    </div>
                                    <div id="temp_bat_2" class="gauge"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    

    
{% endblock  %}
{% block js %}

<script>
    const chargeLevel = document.getElementById("charge-level");
    const charge = document.getElementById("charge");
    const chargingTimeRef = document.getElementById("charging-time");


    let batteryLevel = `${parseInt(13)}%`;
    charge.style.width = batteryLevel;
    chargeLevel.textContent = batteryLevel;

    var zone1 = 0
    var zone2 = 0
    var zone3 = 0
    var zone4 = 0


    const npmGenerator = (id, value) => new JustGage({
        id,
        value,
        min: 0,
        max: 100,
        symbol: ' RPM',
        donut: true,
        pointer: true,
        gaugeWidthScale: 0.4,
        pointerOptions: {
            toplength: 10,
            bottomlength: 10,
            bottomwidth: 8,
            color: '#000'
        },
        customSectors: [
            {
                color: '#ff0000',
                lo: 50,
                hi: 100
            },
            {
                color: '#00ff00',
                lo: 0,
                hi: 50
            }
        ],
        counter: true
    });
    

    // Define zone gauges
    const createZoneGauge = (id, value) => new JustGage({
        id,
        pointer: true,
        symbol: ' %',
        value,
        min: 0,
        max: 120,
        gaugeWidthScale: 0.9,
        counter: true,
        formatNumber: true,
        customSectors: [
            {
                color: '#ff0000',
                lo: 50,
                hi: 100
            },
            {
                color: '#00ff00',
                lo: 0,
                hi: 50
            }
        ],
        counter: true
    });

    // Define temperature gauges
    const createTempGauge = (id, symbol, value) => new JustGage({
        id,
        symbol,
        value,
        pointer: true,
        min: 0,
        max: 10,
        gaugeWidthScale: 0.9,
        counter: true,
        formatNumber: true
    });
    


    // rpm Generator
    const rpmGenerator = npmGenerator('rpm_generator', 0);
    
    const d_zone1 = createZoneGauge('zone1', 0);
    const d_zone2 = createZoneGauge('zone2', 0);
    const d_zone3 = createZoneGauge('zone3', 0);
    const d_zone4 = createZoneGauge('zone4', 0);


    // temperature
    const tempGenerator = createTempGauge('temp_generator', 'C', 0);
    const tempBat1 = createTempGauge('temp_bat_1', 'C', 0);
    const tempBat2 = createTempGauge('temp_bat_2', 'C', 0);

    client.on('message', (topic, message, packet) => {
        const jsonData = JSON.parse(message.toString());
        
        // update data
        if (jsonData.IDC !== undefined) {
            document.getElementById('idc').innerHTML = jsonData.IDC;
        }

        if (jsonData.PDC !== undefined) {
            document.getElementById('pdc').innerHTML = jsonData.PDC;
        }

        if (jsonData.EDC !== undefined) {
            document.getElementById('edc').innerHTML = jsonData.EDC;
        }

        if (jsonData.VAC !== undefined) {
            document.getElementById('vac').innerHTML = jsonData.VAC;
        }

        if (jsonData.IAC !== undefined) {
            document.getElementById('iac').innerHTML = jsonData.IAC;
        }

        if (jsonData.PAC !== undefined) {
            document.getElementById('pac').innerHTML = jsonData.PAC;
        }

        if (jsonData.EAC !== undefined) {
            document.getElementById('eac').innerHTML = jsonData.EAC;
        }

        if (jsonData.VDC !== undefined) {
            document.getElementById('vdc').innerHTML = jsonData.VDC;
        }

        if (jsonData.EDC !== undefined) {
            document.getElementById('edc').innerHTML = jsonData.EDC;
        }

         // Update zone values based on received JSON data
        if (jsonData.MOIS1 !== undefined) {
            zone1 = jsonData.MOIS1;
            d_zone1.refresh(zone1);
        }

        if (jsonData.MOIS2 !== undefined) {
            zone2 = jsonData.MOIS2;
            d_zone2.refresh(zone2);
        }

        if (jsonData.MOIS3 !== undefined) {
            zone3 = jsonData.MOIS3;
            d_zone3.refresh(zone3);
        }

        if (jsonData.MOIS4 !== undefined) {
            zone4 = jsonData.MOIS4;
            d_zone4.refresh(zone4);
        }

        // temperature
        if (jsonData.TEMP1 !== undefined) {
            tempGenerator.refresh(jsonData.TEMP1);
        }
        if (jsonData.TEMP2 !== undefined) {
            tempBat1.refresh(jsonData.TEMP2);
        }
        if (jsonData.TEMP3 !== undefined) {
            tempBat2.refresh(jsonData.TEMP3);
        }

        if (jsonData.RPM !== undefined) {
            rpmGenerator.refresh(jsonData.RPM);
        }
        console.log(`Received Message: ${message.toString()} On topic: ${topic}`);
        
    });
    
    

</script>

<script>
    const circles = document.querySelectorAll('[id^="circle"]');
    const squares = document.querySelectorAll('[id^="square"]');
    const doors = document.querySelectorAll('[id^="door"]');
    const tooltip = document.getElementById('tooltip');

    circles.forEach(circle => {
        circle.style.backgroundColor = 'orange';
        circle.addEventListener('mouseover', () => showData(circle));
        circle.addEventListener('mouseout', hideData);
    });

    squares.forEach(square => {
        square.style.backgroundColor = 'black'; 
        square.addEventListener('mouseover', () => showSquareData(square));
        square.addEventListener('mouseout', () => hideSquareData(square.id));
    });

    doors.forEach(door => {
        door.style.backgroundColor = 'purple';
        door.addEventListener('mouseover', () => showdoorData(door)); 
        door.addEventListener('mouseout', hidedoorData);
    });

    function updateCircleColor(circle) {
        
        const payloadValue = circle.getAttribute('data-payload');
        const intValue = parseInt(payloadValue); 

        if (intValue > 90) {
            circle.style.backgroundColor = 'blue';
        } else {
            circle.style.backgroundColor = 'red';
        }
    }

    function updateSquareColor(square) {

        const payloadValue = square.getAttribute('data-payload');
        
        if (payloadValue === 'ON') {
            square.style.backgroundColor = 'yellow';
        } else {
            square.style.backgroundColor = 'grey';
        }
    }

    function updatedoorColor(door) {
    
        const payloadValue = door.getAttribute('data-payload');
    
        if (payloadValue === 'OPEN') {
            door.style.backgroundColor = 'green';
        } else {
            door.style.backgroundColor = 'pink';
        }
    }

    setInterval(() => {
        circles.forEach(circle => updateCircleColor(circle));
        squares.forEach(square => updateSquareColor(square));
        doors.forEach(door => updatedoorColor(door));
    }, 1000); // 1000 milliseconds = 1 second

    function showData(circle) {
        const payloadValue = circle.getAttribute('data-payload');
        const intValue = parseInt(payloadValue);
        tooltip.innerHTML = `<strong>Sensor</strong>: ${intValue}`;
        tooltip.style.top = (event.clientY + 10) + 'px';
        tooltip.style.left = (event.clientX + 10) + 'px';
        tooltip.style.display = 'block';
    }

    function hideData() {
        tooltip.style.display = 'none';
    }

    function showSquareData(square) {
        const payloadValue = square.getAttribute('data-payload');
        tooltip.innerHTML = `<strong>Condition</strong>: ${payloadValue}`;
        tooltip.style.top = (event.clientY + 10) + 'px';
        tooltip.style.left = (event.clientX + 10) + 'px';
        tooltip.style.display = 'block';
    }

    function hideSquareData(squareId) {
        tooltip.style.display = 'none';
    }

    function showdoorData(door) {
        const payloadValue = door.getAttribute('data-payload');
        tooltip.innerHTML = `<strong>Situation</strong>: ${payloadValue}`;
        tooltip.style.top = (event.clientY + 10) + 'px';
        tooltip.style.left = (event.clientX + 10) + 'px';
        tooltip.style.display = 'block';
    }
    
    function hidedoorData(doorId) {
    tooltip.style.display = 'none';
    }
</script>

{% endblock  %}
