{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Peta Sawah</h1>
  </div>

  <!-- Content Row -->
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <!-- Card Body -->
    <div class="card-body">
      <div class="table-responsive">
        <div style="position: relative;">
          <img src="{% static 'img/peta_sawah.jpg' %}" alt="background Image" style="height: 410px; width: 900px;">
      
          <!--    <img src="https://drive.google.com/uc?id=1pM8hKATNW427_so7WJLo7rHTXtpN0Ghc" alt="Logo" style="position: absolute; top: 1px; left: 780px; width: 200px; height: 100px; z-index: 1;"> 
      
          <!-- Sensor 1 -->
          <div id="circle1"
              style="position: absolute; top: 137px; left: 650px; width: 10px; height: 10px; background-color: orange; border-radius: 50%; cursor: pointer;"
              data-payload="{{msg.payload5}}" onmouseover="showData('Sensor 1')" onmouseout="hideData()"></div>
      
          <!-- sensor 2 -->
          <div id="circle2"
              style="position: absolute; top: 130px; left: 670px; width: 10px; height: 10px; background-color: orange; border-radius: 50%; cursor: pointer;"
              data-payload="{{msg.payload6}}" onmouseover="showData('Sensor 2')" onmouseout="hideData()"></div>
      
          <!-- Sensor 3 -->
          <div id="circle3"
              style="position: absolute; top: 146px; left: 700px; width: 10px; height: 10px; background-color: orange; border-radius: 50%; cursor: pointer;"
              data-payload="{{msg.payload7}}" onmouseover="showData('Sensor 3')" onmouseout="hideData()"></div>
      
          <!-- Sensor 4 -->
          <div id="circle4"
              style="position: absolute; top: 140px; left: 730px; width: 10px; height: 10px; background-color: orange; border-radius: 50%; cursor: pointer;"
              data-payload="{{msg.payload8}}" onmouseover="showData('Sensor 4')" onmouseout="hideData()"></div>
      
          <!-- Pump1 -->
          <div id="square1"
              style="position: absolute; top: 30px; left: 650px; width: 10px; height: 10px; background-color: orange; cursor: pointer; text-align: center; line-height: 20px;"
              data-payload="{{msg.payload2}}" onmouseover="showSquareData('Square 1')"
              onmouseout="hideSquareData('Square 1')"></div>
      
          <!-- Pump2 -->
          <div id="square2"
              style="position: absolute; top: 60px; left: 720px; width: 10px; height: 10px; background-color: orange; cursor: pointer; text-align: center; line-height: 20px;"
              data-payload="{{msg.payload3}}" onmouseover="showSquareData('Square 2')"
              onmouseout="hideSquareData('Square 2')">
          </div>
      
          <!-- Pump3 -->
          <div id="square3"
              style="position: absolute; top: 245px; left: 560px; width: 10px; height: 10px; background-color: orange; cursor: pointer; text-align: center; line-height: 20px;"
              data-payload="{{msg.payload4}}" onmouseover="showSquareData('Square 3')"
              onmouseout="hideSquareData('Square 3')">
          </div>
      
          <!-- Door -->
          <div id="door"
              style="position: absolute; top: 120px; left: 750px; width: 10px; height: 10px; background-color: orange; cursor: pointer; text-align: center; line-height: 20px;"
              data-payload="{{msg.payload1}}" onmouseover="showdoorData('door')" onmouseout="hidedoorData('door')">
          </div>
      </div>
      
      <div id="tooltip"
          style="display: none; position: absolute; background-color: #fff; padding: 5px; border: 1px solid #ccc;"></div>
      
      </div>
    </div>
  </div>

{% endblock %}
{% block js %}
  
  <script>
    const circles = document.querySelectorAll('[id^="circle"]');
    const squares = document.querySelectorAll('[id^="square"]');
    const doors = document.querySelectorAll('[id^="door"]');
    const tooltip = document.getElementById('tooltip');

    circles.forEach(circle => {
        circle.style.backgroundColor = 'orange';
        circle.addEventListener('mouseover', () => showData(circle));
        circle.addEventListener('mouseout', hideData);
    });

    squares.forEach(square => {
        square.style.backgroundColor = 'black'; 
        square.addEventListener('mouseover', () => showSquareData(square));
        square.addEventListener('mouseout', () => hideSquareData(square.id));
    });

    doors.forEach(door => {
        door.style.backgroundColor = 'purple';
        door.addEventListener('mouseover', () => showdoorData(door)); 
        door.addEventListener('mouseout', hidedoorData);
    });

    function updateCircleColor(circle) {
        
        const payloadValue = circle.getAttribute('data-payload');
        const intValue = parseInt(payloadValue); 

        if (intValue > 90) {
            circle.style.backgroundColor = 'blue';
        } else {
            circle.style.backgroundColor = 'red';
        }
    }

    function updateSquareColor(square) {

        const payloadValue = square.getAttribute('data-payload');
        
        if (payloadValue === 'ON') {
            square.style.backgroundColor = 'yellow';
        } else {
            square.style.backgroundColor = 'grey';
        }
    }

    function updatedoorColor(door) {
    
        const payloadValue = door.getAttribute('data-payload');
    
        if (payloadValue === 'OPEN') {
            door.style.backgroundColor = 'green';
        } else {
            door.style.backgroundColor = 'pink';
        }
    }

    setInterval(() => {
        circles.forEach(circle => updateCircleColor(circle));
        squares.forEach(square => updateSquareColor(square));
        doors.forEach(door => updatedoorColor(door));
    }, 1000); // 1000 milliseconds = 1 second

    function showData(circle) {
        const payloadValue = circle.getAttribute('data-payload');
        const intValue = parseInt(payloadValue);
        tooltip.innerHTML = `<strong>Sensor</strong>: ${intValue}`;
        tooltip.style.top = (event.clientY + 10) + 'px';
        tooltip.style.left = (event.clientX + 10) + 'px';
        tooltip.style.display = 'block';
    }

    function hideData() {
        tooltip.style.display = 'none';
    }

    function showSquareData(square) {
        const payloadValue = square.getAttribute('data-payload');
        tooltip.innerHTML = `<strong>Condition</strong>: ${payloadValue}`;
        tooltip.style.top = (event.clientY + 10) + 'px';
        tooltip.style.left = (event.clientX + 10) + 'px';
        tooltip.style.display = 'block';
    }

    function hideSquareData(squareId) {
        tooltip.style.display = 'none';
    }

    function showdoorData(door) {
        const payloadValue = door.getAttribute('data-payload');
        tooltip.innerHTML = `<strong>Situation</strong>: ${payloadValue}`;
        tooltip.style.top = (event.clientY + 10) + 'px';
        tooltip.style.left = (event.clientX + 10) + 'px';
        tooltip.style.display = 'block';
    }
    
    function hidedoorData(doorId) {
      tooltip.style.display = 'none';
    }

</script>

{% endblock %}
