{% extends 'layouts/main.html' %}
<style>
  button {
    border: none;
    outline: none;
    width: 35%;
    height: 50px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 20px;
}
</style>
{% load static %}

{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Performance</h1>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h4 class="m-0 font-weight-bold text-primary">General</h4>
    </div>

    <div class="card-body">
      <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-12">
          <div class="card border-left-default shadow h-100 py-2">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                      <center>
                        <div class="text-xl font-weight-bold text-info text-uppercase mb-1">Kincir</div>
                        <img src="/static/img/kincir_on.png" id="img_kincir" class="w-90" alt="Icon soilmoisture" style="height: 250px; width: px;">
                        <div class="col mr-2">
                          <button class="btn btn-primary" id="rpm_kincir">0 RPM</button>
                        </div>
                      </center>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <center>
                        <div class="text-xl font-weight-bold text-info text-uppercase mb-1">GENERATOR</div>
                        <img src="/static/img/cas_off.png" id="img_generator" class="w-90" alt="Icon soilmoisture" style="height: 250px; width: px;">
                        <div class="col mr-2">
                          <button class="btn btn-primary" id="data_pm_generator">0 RPM</button>
                        </div>
                      </center>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                      <center>
                        <div class="text-xl font-weight-bold text-info text-uppercase mb-1">Sensor Banjir</div>
                        <br>
                        <img src="/static/img/level_air_aman.png" id="img_level_air" class="w-70" alt="Icon soilmoisture" style="height: 150px; width: px;">
                        <div class="col mr-2">
                          <button class="btn btn-default" id="level_tinggi_air"></button>
                        </div>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <center>
                        <div class="text-xl font-weight-bold text-info text-uppercase mb-1">Kapasitas BATERAI</div>
                      </center>
                      <br>
                      <div id="battery">
                          <div id="charge"></div>
                          <div id="charge-level"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card border-left-success shadow h-100 py-2">
                      <div class="card-body">
                        <center>
                          <div class="text-xl font-weight-bold text-info text-uppercase mb-1">SINYAL WIFI</div>
                          <br>
                        </center>
                        <div class="row">
                          <div class="col-md-4">
                              <div class="waveStrength-3">
                                  <div id="height" class="wv4 wave" >
                                      <div id="medium" class="wv4 wave">
                                          <div id="normal" class="wv2 wave">
                                              <div id="low" class="wv1 wave">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <center><h5>GW 1</h5></center>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="waveStrength-3">
                                  <div id="height2" class="wv4 wave" >
                                      <div id="medium2" class="wv4 wave">
                                          <div id="normal2" class="wv2 wave">
                                              <div id="low2" class="wv1 wave">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <center><h5>GW 2</h5></center>
                              </div>
                          </div>
                          <div class="col-md-4">
                            <div class="waveStrength-3">
                                <div id="height3" class="wv4 wave" >
                                    <div id="medium3" class="wv4 wave">
                                        <div id="normal3" class="wv2 wave">
                                            <div id="low3" class="wv1 wave">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <center><h5>GW 3</h5></center>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                      <center>
                        <div class="text-xl font-weight-bold text-info text-uppercase mb-1">PINTU RUMAH TEKNOLOGI</div>
                        <img src="/static/img/pintu_tutup.png" id="st_pintu" class="w-70" alt="Icon soilmoisture" style="height: 150px; width: px;">
                        <div class="col mr-2">
                          <button class="btn btn-default" id="gate"></button>
                        </div>
                      </center>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <br>
  
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h4 class="m-0 font-weight-bold text-primary"> Data Input PLTMH & PLTS</h4>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <ul class="list-group">
        <div class="row">
          <div class="col-md-6">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              V DC
              <span id="vdc" class="badge badge-primary badge-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              I DC
              <span id="idc" class="badge badge-primary badge-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              P DC
              <span id="pdc" class="badge badge-primary badge-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              E DC
              <span id="edc" class="badge badge-primary badge-pill">0</span>
            </li>
          </div>
          <div class="col-md-6">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              V DC
              <span id="vdc" class="badge badge-primary badge-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              I DC
              <span id="idc" class="badge badge-primary badge-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              P DC
              <span id="pdc" class="badge badge-primary badge-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              E DC
              <span id="edc" class="badge badge-primary badge-pill">0</span>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h4 class="m-0 font-weight-bold text-primary">Data Output</h4>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <ul class="list-group">
        <div class="row">
          <div class="col-md-12">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              V AC
              <span id="vac" class="badge badge-primary badge-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              I AC
              <span id="iac" class="badge badge-primary badge-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              P AC
              <span id="pac" class="badge badge-primary badge-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              E AC
              <span id="eac" class="badge badge-primary badge-pill">0</span>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
  
  {% if request.user.is_superuser %}
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h4 class="m-0 font-weight-bold text-primary">Control</h4>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-5">
                      <h4>ESD</h4>
                    </div>
                    <div class="col-sm-5">
                      <center>
                        <img src="/static/img/esd_off.png" id="img_esd" class="w-70" alt="Icon soilmoisture" style="height: 50px; width: px;">
                      </center>
                    </div>
                    <div class="col-sm-2 text-right">
                      <input type="checkbox" id="esd" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-5">
                      <h4>Charging</h4>
                    </div>
                    <div class="col-sm-5">
                      <center>
                        <img src="/static/img/cas_off.png" id="img_cas" class="w-70" alt="Icon soilmoisture" style="height: 70px; width: px;">
                      </center>
                    </div>
                    <div class="col-sm-2 text-right">
                      <input type="checkbox" id="charging" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-5">
                      <h4>Pompa 1</h4>
                    </div>
                    <div class="col-sm-5">
                      <center>
                        <img src="/static/img/pompa_off.png" id="img_pompa1" class="w-70" alt="Icon soilmoisture" style="height: 70px; width: px;">
                      </center>
                    </div>
                    <div class="col-sm-2 text-right">
                      <input style="" type="checkbox" id="pompa1" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-5">
                      <h4>Pompa 2</h4>
                    </div>
                    <div class="col-sm-5">
                      <center>
                        <img src="/static/img/pompa_off.png" id="img_pompa2" class="w-70" alt="Icon soilmoisture" style="height: 70px; width: px;">
                      </center>
                    </div>
                    <div class="col-sm-2 text-right">
                      <input type="checkbox" id="pompa2" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-5">
                      <h4>Pompa 3</h4>
                    </div>
                    <div class="col-sm-5">
                      <center>
                        <img src="/static/img/pompa_off.png" id="img_pompa3" class="w-70" alt="Icon soilmoisture" style="height: 70px; width: px;">
                      </center>
                    </div>
                    <div class="col-sm-2 text-right">
                      <input type="checkbox" id="pompa3" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-5">
                      <h4>Pompa 4</h4>
                    </div>
                    <div class="col-sm-5">
                      <center>
                        <img src="/static/img/pompa_off.png" id="img_pompa4" class="w-70" alt="Icon soilmoisture" style="height: 70px; width: px;">
                      </center>
                    </div>
                    <div class="col-sm-2 text-right">
                      <input type="checkbox" id="pompa4" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
        </div>
        
      </div>

    </div>
  </div>
  {% else %}
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h4 class="m-0 font-weight-bold text-primary">Control</h4>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4>ESD</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                      <center>
                        <img src="/static/img/esd_off.png" id="img_esd" class="w-70" alt="Icon soilmoisture" style="height: 50px; width: px;">
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4>Charging</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                      <center>
                        <img src="/static/img/cas_off.png" id="img_cas" class="w-70" alt="Icon soilmoisture" style="height: 70px; width: px;">
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4>Pompa 1</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                      <center>
                        <img src="/static/img/pompa_off.png" id="img_pompa1" class="w-70" alt="Icon soilmoisture" style="height: 70px; width: px;">
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4>Pompa 2</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                      <center>
                        <img src="/static/img/pompa_off.png" id="img_pompa2" class="w-70" alt="Icon soilmoisture" style="height: 70px; width: px;">
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4>Pompa 3</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                      <center>
                        <img src="/static/img/pompa_off.png" id="img_pompa3" class="w-70" alt="Icon soilmoisture" style="height: 70px; width: px;">
                      </center>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4>Pompa 4</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                      <center>
                        <img src="/static/img/pompa_off.png" id="img_pompa4" class="w-70" alt="Icon soilmoisture" style="height: 70px; width: px;">
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      

    </div>
  </div>

  {% endif %}
  
  
  <!-- Content Row -->
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h4 class="m-0 font-weight-bold text-primary">Soil Moisture</h4>
    </div>

    <div class="card-body">
      <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Zone 1</div>
                  <div id="zone1" class="gauge"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Zone 2</div>
                  <div id="zone2" class="gauge"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Zone 3</div>
                  <div id="zone3" class="gauge"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Zone 4</div>
                  <div id="zone4" class="gauge"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h4 class="m-0 font-weight-bold text-primary">Temperatur</h4>
    </div>

    <div class="card-body">
      <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-3">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Generator</div>
                  <div id="temp_generator" class="gauge"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-3">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">BATERAI 1</div>
                  <div id="temp_bat_1" class="gauge"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-3">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">BATERAI 2</div>
                  <div id="temp_bat_2" class="gauge"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Room</div>
                    <div id="room_temp" class="gauge"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}

<script>
    
  const chargingCheckbox = $("#charging");
  chargingCheckbox.on("change", function() {
    // Check if the checkbox is checked or unchecked
    if (chargingCheckbox.prop("checked")) {
      client.publish(LORAMASTER2, '1', { qos: 0, retain: false })
      console.log('Charging is ON');
      // You can perform other actions here when it's checked
    } else {
      client.publish(LORAMASTER2, '0', { qos: 0, retain: false })
      console.log('Charging is OFF');
      // You can perform other actions here when it's unchecked
    }
  });

  const pompa1 = $("#pompa1");
  
  pompa1.on("change", function() {
    // Check if the checkbox is checked or unchecked
    if (pompa1.prop("checked")) {
      client.publish(LORAMASTER2, '11', { qos: 0, retain: false })
      console.log('Pompa 1 is ON');
      // You can perform other actions here when it's checked
    } else {
      client.publish(LORAMASTER2, '10', { qos: 0, retain: false })
      console.log('Pompa 1 is ON');
      // You can perform other actions here when it's unchecked
    }
  });

  const pompa2 = $("#pompa2");

  pompa2.on("change", function() {
    // Check if the checkbox is checked or unchecked
    if (pompa2.prop("checked")) {
      client.publish(LORAMASTER2, '21', { qos: 0, retain: false })
      console.log('Pompa 2 is ON');
      // You can perform other actions here when it's checked
    } else {
      client.publish(LORAMASTER2, '20', { qos: 0, retain: false })
      console.log('Pompa 2 is ON');
      // You can perform other actions here when it's unchecked
    }
  });

  const pompa3 = $("#pompa3");
  pompa3.on("change", function() {
    // Check if the checkbox is checked or unchecked
    if (pompa3.prop("checked")) {
      client.publish(LORAMASTER2, '31', { qos: 0, retain: false })
      console.log('Pompa 3 is ON');
      // You can perform other actions here when it's checked
    } else {
      client.publish(LORAMASTER2, '30', { qos: 0, retain: false })
      console.log('Pompa 3 is ON');
      // You can perform other actions here when it's unchecked
    }
  });

  const pompa4 = $("#pompa4");
  pompa4.on("change", function() {
    // Check if the checkbox is checked or unchecked
    if (pompa4.prop("checked")) {
      client.publish(LORAMASTER2, '41', { qos: 0, retain: false })
      console.log('Pompa 4 is ON');
      // You can perform other actions here when it's checked
    } else {
      client.publish(LORAMASTER2, '40', { qos: 0, retain: false })
      console.log('Pompa 4 is ON');
      // You can perform other actions here when it's unchecked
    }
  });

  const esd = $("#esd");
  esd.on("change", function() {
    // Check if the checkbox is checked or unchecked
    if (esd.prop("checked")) {
      client.publish(LORAMASTER3, '51', { qos: 0, retain: false })
      console.log('ESD is ON');
      // You can perform other actions here when it's checked
    } else {
      client.publish(LORAMASTER3, '50', { qos: 0, retain: false })
      console.log('ESD is OFF');
      // You can perform other actions here when it's unchecked
    }
  });


</script>
  <script>
    const chargeLevel = document.getElementById('charge-level')
    const charge = document.getElementById('charge')
    const chargingTimeRef = document.getElementById('charging-time')
    
    
    var zone1 = 0
    var zone2 = 0
    var zone3 = 0
    var zone4 = 0
    
    const npmGenerator = (id, value) =>
      new JustGage({
        id,
        value,
        min: 0,
        max: 5000,
        symbol: ' RPM',
        donut: true,
        pointer: true,
        gaugeWidthScale: 0.4,
        pointerOptions: {
          toplength: 12,
          bottomlength: 10,
          bottomwidth: 8,
          color: '#000'
        },
        customSectors: [
          {
            color: '#ff0000',
            lo: 50,
            hi: 100
          },
          {
            color: '#00ff00',
            lo: 0,
            hi: 50
          }
        ],
        counter: true
      })
    
    // Define zone gauges
    const createZoneGauge = (id, value) =>
      new JustGage({
        id,
        pointer: true,
        symbol: ' %',
        value,
        min: 0,
        max: 100,
        gaugeWidthScale: 0.9,
        counter: true,
        formatNumber: true,
        customSectors: [
          {
            color: '#ff0000',
            lo: 50,
            hi: 100
          },
          {
            color: '#00ff00',
            lo: 0,
            hi: 50
          }
        ],
        counter: true
      })

    
    
    // Define temperature gauges
    const createTempGauge = (id, symbol, value) =>
      new JustGage({
        id,
        symbol,
        value,
        pointer: true,
        min: 0,
        max: 100,
        gaugeWidthScale: 0.9,
        counter: true,
        formatNumber: true
      })
    
    // rpm Generator
    {% comment %} const rpmGenerator = npmGenerator('rpm_generator', 0) {% endcomment %}
    
    const d_zone1 = createZoneGauge('zone1', 0)
    const d_zone2 = createZoneGauge('zone2', 0)
    const d_zone3 = createZoneGauge('zone3', 0)
    const d_zone4 = createZoneGauge('zone4', 0)
    
    // temperature
    const tempGenerator = createTempGauge('temp_generator', '°C', 0)
    const tempBat1 = createTempGauge('temp_bat_1', '°C', 0)
    const tempBat2 = createTempGauge('temp_bat_2', '°C', 0)
    const room_temp = createTempGauge('room_temp', '°C', 0)
    const level_air = createTempGauge('level_air', ' CM', 0)

    const height = document.getElementById('height')
    const medium = document.getElementById('medium')
    const normal = document.getElementById('normal')
    const low = document.getElementById('low')
    

    const height2 = document.getElementById('height2')
    const medium2 = document.getElementById('medium2')
    const normal2 = document.getElementById('normal2')
    const low2 = document.getElementById('low2')

    const height3 = document.getElementById('height3')
    const medium3 = document.getElementById('medium3')
    const normal3 = document.getElementById('normal3')
    const low3 = document.getElementById('low3')
    
    
    let batteryLevel = `${parseInt(0)}%`
    charge.style.width = batteryLevel
    chargeLevel.textContent = batteryLevel
    
    client.on('message', (topic, message, packet) => {
      const jsonData = JSON.parse(message.toString())
      
      //battery
      if (jsonData.VDC !== undefined) {
        if (jsonData.VDC >= 40.0){
          batteryLevel = `${parseInt(100)}%`
          charge.style.width = batteryLevel
          chargeLevel.textContent = batteryLevel
        } else if(jsonData.VDC <= 40.0){
          batteryLevel = `${parseInt(0)}%`
          charge.style.width = batteryLevel
          chargeLevel.textContent = batteryLevel
        }
      }
      
      // SW 
      if (jsonData.SW1 !== undefined) {
          if (jsonData.SW1 >= -30) {
              height.className = 'ww3 wave'
              medium.className = 'ww3 wave'
              normal.className = 'ww2 wave'
              low.className = 'ww1 wave'

              height2.className = 'ww3 wave'
              medium2.className = 'ww3 wave'
              normal2.className = 'ww2 wave'
              low2.className = 'ww1 wave'
          } 
          if (jsonData.SW1 >= -67) {
              height.className = 'ww4 wave'
              medium.className = 'ww4 wave'
              normal.className = 'ww2 wave'
              low.className = 'ww1 wave'

              height2.className = 'ww4 wave'
              medium2.className = 'ww4 wave'
              normal2.className = 'ww2 wave'
              low2.className = 'ww1 wave'
          } 
          if (jsonData.SW1 >= -70) {
              height.className = 'ww4 wave'
              medium.className = 'ww4 wave'
              normal.className = 'ww2 wave'
              low.className = 'ww1 wave'

              height2.className = 'ww4 wave'
              medium2.className = 'ww4 wave'
              normal2.className = 'ww2 wave'
              low2.className = 'ww1 wave'
          } 
          if (jsonData.SW1 >= -80) {
              height.className = 'ww4 wave'
              medium.className = 'ww4 wave'
              normal.className = 'ww4 wave'
              low.className = 'ww1 wave'

              height2.className = 'ww4 wave'
              medium2.className = 'ww4 wave'
              normal2.className = 'ww4 wave'
              low2.className = 'ww1 wave'
          } 
          //document.getElementById('SW').innerHTML = jsonData.SW
      }

      if (jsonData.SW2 !== undefined) {
        if (jsonData.SW2 >= -30) {
            height2.className = 'ww3 wave'
            medium2.className = 'ww3 wave'
            normal2.className = 'ww2 wave'
            low2.className = 'ww1 wave'
        } 
        if (jsonData.SW2 >= -67) {
            height2.className = 'ww4 wave'
            medium2.className = 'ww4 wave'
            normal2.className = 'ww2 wave'
            low2.className = 'ww1 wave'
        } 
        if (jsonData.SW2 >= -70) {
            height2.className = 'ww4 wave'
            medium2.className = 'ww4 wave'
            normal2.className = 'ww2 wave'
            low2.className = 'ww1 wave'
        } 
        if (jsonData.SW2 >= -80) {
            height2.className = 'ww4 wave'
            medium2.className = 'ww4 wave'
            normal2.className = 'ww4 wave'
            low2.className = 'ww1 wave'
        } 
        //document.getElementById('SW').innerHTML = jsonData.SW
    }

    if (jsonData.SW3 !== undefined) {
      if (jsonData.SW3 >= -30) {
          height3.className = 'ww3 wave'
          medium3.className = 'ww3 wave'
          normal3.className = 'ww2 wave'
          low3.className = 'ww1 wave'
      } 
      if (jsonData.SW3 >= -67) {
          height3.className = 'ww4 wave'
          medium3.className = 'ww4 wave'
          normal3.className = 'ww2 wave'
          low3.className = 'ww1 wave'
      } 
      if (jsonData.SW3 >= -70) {
          height3.className = 'ww4 wave'
          medium3.className = 'ww4 wave'
          normal3.className = 'ww2 wave'
          low3.className = 'ww1 wave'
      } 
      if (jsonData.SW3 >= -80) {
          height3.className = 'ww4 wave'
          medium3.className = 'ww4 wave'
          normal3.className = 'ww4 wave'
          low3.className = 'ww1 wave'
      } 
      //document.getElementById('SW').innerHTML = jsonData.SW
  }
    
      // update data
      if (jsonData.IDC !== undefined) {
        document.getElementById('idc').innerHTML = jsonData.IDC
      }
    
      if (jsonData.PDC !== undefined) {
        document.getElementById('pdc').innerHTML = jsonData.PDC
      }
    
      if (jsonData.EDC !== undefined) {
        document.getElementById('edc').innerHTML = jsonData.EDC
      }
    
      if (jsonData.VAC !== undefined) {
        document.getElementById('vac').innerHTML = jsonData.VAC
      }
    
      if (jsonData.IAC !== undefined) {
        document.getElementById('iac').innerHTML = jsonData.IAC
      }
    
      if (jsonData.PAC !== undefined) {
        document.getElementById('pac').innerHTML = jsonData.PAC
      }
    
      if (jsonData.EAC !== undefined) {
        document.getElementById('eac').innerHTML = jsonData.EAC
      }
    
      if (jsonData.VDC !== undefined) {
        document.getElementById('vdc').innerHTML = jsonData.VDC
      }
    
      if (jsonData.EDC !== undefined) {
        document.getElementById('edc').innerHTML = jsonData.EDC
      }
    
      // Update zone values based on received JSON data
      if (jsonData.MOIS1 !== undefined) {
        zone1 = jsonData.MOIS1
        d_zone1.refresh(zone1)
      }
    
      if (jsonData.MOIS2 !== undefined) {
        zone2 = jsonData.MOIS2
        d_zone2.refresh(zone2)
      }
    
      if (jsonData.MOIS3 !== undefined) {
        zone3 = jsonData.MOIS3
        d_zone3.refresh(zone3)
      }
    
      if (jsonData.MOIS4 !== undefined) {
        zone4 = jsonData.MOIS4
        d_zone4.refresh(zone4)
      }
    
      // temperature
      if (jsonData.TEMP1 !== undefined) {
        tempGenerator.refresh(jsonData.TEMP1)
      }
      if (jsonData.TEMP2 !== undefined) {
        tempBat1.refresh(jsonData.TEMP2)
      }
      if (jsonData.TEMP3 !== undefined) {
        tempBat2.refresh(jsonData.TEMP3)
      }

      if (jsonData.TEMP !== undefined) {
        room_temp.refresh(jsonData.TEMP)
      }
    
      if (jsonData.RPM !== undefined) {
        const img = document.getElementById('img_kincir')
        var data_pm_generator = document.getElementById('data_pm_generator')        
        var rpm_kincir = document.getElementById('rpm_kincir')
        if (jsonData.RPM < 0) {
          data_pm_generator.innerHTML = jsonData.RPM + ' RPM'
          img.src = '/static/img/kincir_off.png'
          img_generator.src = '/static/img/cas_off.png'
        } else {
          var hasil_bagi_data_kincir = jsonData.RPM / 14
          rpm_kincir.innerHTML = parseInt(hasil_bagi_data_kincir) + " RPM"
          data_pm_generator.innerHTML = jsonData.RPM + ' RPM'
          img.src = '/static/img/kincir_on.png'
          img_generator.src = '/static/img/cas_on.png'
        }
        //rpmGenerator.refresh(jsonData.RPM)
      }

      
      var st_pintu = document.getElementById('st_pintu');
      if (typeof jsonData.PINTU !== 'undefined' && jsonData.PINTU == 1) {
        var gateButton = document.getElementById('gate');
        gateButton.className = 'btn btn-success'; // Replace 'btn-success' with the desired class
        gateButton.innerHTML = 'TERBUKA'; // Replace 'Open' with the desired text
        st_pintu.src = '/static/img/pintu_buka.png'
      } else if (typeof jsonData.PINTU !== 'undefined' && jsonData.PINTU == 0) {
        var gateButton = document.getElementById('gate');
        gateButton.className = 'btn btn-danger'; // Replace 'btn-success' with the desired class
        gateButton.innerHTML = 'TERTUTUP'; // Replace 'Open' with the desired text
        st_pintu.src = '/static/img/pintu_tutup.png'
      }
      
      if (typeof jsonData.Lvl !== 'undefined' && jsonData.Lvl == 1) {
        var gateButton = document.getElementById('level_tinggi_air');
        gateButton.className = 'btn btn-success'; // Replace 'btn-success' with the desired class
        gateButton.innerHTML = 'AMAN'; // Replace 'Open' with the desired text
        img_level_air.src = '/static/img/level_air_aman.png'
      } else if (typeof typeof jsonData.Lvl !== 'undefined' && jsonData.Lvl == 0) {
        var gateButton = document.getElementById('level_tinggi_air');
        gateButton.className = 'btn btn-danger'; // Replace 'btn-success' with the desired class
        gateButton.innerHTML = 'BAHAYA BANJIR'; // Replace 'Open' with the desired text
        img_level_air.src = '/static/img/level_air_tidak_aman.png'
      }
      
      // status pomp1
      if (typeof jsonData.POMPA1 !== 'undefined' && jsonData.POMPA1 == 1) {
        pompa1.bootstrapToggle('on', true);
        img_pompa1.src = '/static/img/pompa_on.png'
      } else if (typeof jsonData.POMPA1 !== 'undefined' && jsonData.POMPA1 == 0) {
        img_pompa1.src = '/static/img/pompa_off.png'
        pompa1.bootstrapToggle('off', true);
      }

      if (typeof jsonData.POMPA2 !== 'undefined' && jsonData.POMPA2 == 1) {
        pompa2.bootstrapToggle('on', true);
        img_pompa2.src = '/static/img/pompa_on.png'
      } else if (typeof jsonData.POMPA2 !== 'undefined' && jsonData.POMPA2 == 0) {
        pompa2.bootstrapToggle('off', true);
        img_pompa2.src = '/static/img/pompa_off.png'
      }

      if (typeof jsonData.POMPA3 !== 'undefined' && jsonData.POMPA3 == 1) {
        pompa3.bootstrapToggle('on', true);
        img_pompa3.src = '/static/img/pompa_on.png'
      } else if (typeof jsonData.POMPA3 !== 'undefined' && jsonData.POMPA3 == 0) {
        pompa3.bootstrapToggle('off', true);
        img_pompa3.src = '/static/img/pompa_off.png'
      }

      if (typeof jsonData.POMPA4 !== 'undefined' && jsonData.POMPA4 == 1) {
        pompa4.bootstrapToggle('on', true);
        img_pompa4.src = '/static/img/pompa_on.png'
      } else if (typeof jsonData.POMPA4 !== 'undefined' && jsonData.POMPA4 == 0) {
        pompa4.bootstrapToggle('off', true);
        img_pompa4.src = '/static/img/pompa_off.png'
      }

      if (typeof jsonData.ESD !== 'undefined' && jsonData.ESD == 0) {
        esd.bootstrapToggle('on', true);
        img_esd.src = '/static/img/esd_on.png'
      } else if (typeof jsonData.POMPA4 !== 'undefined' && jsonData.ESD == 1) {
        esd.bootstrapToggle('off', true);
        img_esd.src = '/static/img/esd_off.png'
      }

      if (typeof jsonData.CHARGE !== 'undefined' && jsonData.CHARGE == 1) {
        chargingCheckbox.bootstrapToggle('on', true);
        img_cas.src = '/static/img/cas_on.png'
      } else if (typeof jsonData.CHARGE !== 'undefined' && jsonData.CHARGE == 0) {
        chargingCheckbox.bootstrapToggle('off', true);
        img_cas.src = '/static/img/cas_off.png'
      }

      
      
      // if (jsonData.PINTU !== 'undefined') {
      //   if (jsonData.PINTU == 1) {
      //     $('#gate').bootstrapToggle('on', true);
      //   }
      // }
    })
  </script>

  
{% endblock %}
